# Bright Data
BRIGHTDATA_API_KEY=
BRIGHTDATA_ARXIV_COLLECTOR_ID=
BRIGHTDATA_GITHUB_COLLECTOR_ID=
BRIGHTDATA_DUKE_CALDERBANK_COLLECTOR_ID=
BRIGHTDATA_FIXTURE_COLLECTOR_ID=

# Database
DATABASE_URL="file:./dev.db"

# Application
PORT=5000
NODE_ENV=development